.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.todoFormContainer input {
    width: 60%;
    height: 30px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .todoFormContainer form {
        display: block;
    }

    .todoFormContainer input {
        width: 80%;
    }
}
